NOIZY_RAW_STEMS_DIR=/NOIZY/raw_stems
NOIZY_PAPYRUS_DB=./papyrus/papyrus.db
NOIZY_FAISS_INDEX=./embeddings/noizy_audio.index
NOIZY_FAISS_MAP=./embeddings/noizy_audio.map.json
NOIZY_NOTIFY_WEBHOOK_URL=
NOIZY_FIRESTORE_COLLECTION=noizy_audio_assets
